doctype html
html
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/style.css')
    script(async, src='https://cdnjs.cloudflare.com/ajax/libs/superagent/1.2.0/superagent.min.js')
  body
    block content
